<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://www.graphic.com.gh/images/2022/jun/14/BloodDonation.jpeg" alt="login form"
                                class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Methods for Recruiting and
                                    Retaining Donors
                                </h5>



                                <div class=" mb-4">
                                    Warm-glow is an important factor to stress when recruiting new donors and working to
                                    turn them into repeat donors. According to de Kort and Merz, trying to reignite
                                    feelings of warm-glow can be a useful intervention, especially for those with lower
                                    initial levels of warm-glow
                                </div>

                                <div class="pt-1 mb-4">
                                    “Furthermore, getting donors past their fourth donation is the point at which they
                                    start to consider being a blood donor as part of their identity,” Merz said. “At
                                    this point, they are more likely to become life-long donors.”
                                </div>

                                <div class="pt-1 mb-4">
                                    “That is, a behavioral campaign, like a pharmaceutical intervention, must contain
                                    some active ingredients; otherwise, it would not work. Thus, early-stage studies to
                                    refine the exact nature of the intervention and identify any potential unfores
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>