<!-- <section class="home">
    <img
      src="https://m.economictimes.com/thumb/msid-83502809,width-1200,height-900,resizemode-4,imgsize-353228/blood-donation_istock.jpg">
      <div class="homecontent">
        <h1>Start doing for save life</h1>
        <a href="" class="btn btn-light">Learn more</a> &nbsp;
        <a href="" class="btn btn-primary">Booked</a>
      </div>
  </section> -->
<header class="bg-dark py-5">
<div class="container px-5">
  <div class="row gx-5 align-items-center justify-content-center">
    <div class="col-lg-8 col-xl-7 col-xxl-6">
      <div class="my-5 text-center text-xl-start py-2">

      <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Organ Bank
      </h1>
      <p class="big-text">Organ Donation -Donor & Recipient
      </p>
      <p class="lead fw-normal text-white-50 mb-4 text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.

      </p>
      
    </div>
    </div>
    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
      <img class="img-fluid rounded-3 my-5" src="https://previews.123rf.com/images/grgroup/grgroup1505/grgroup150501927/40204119-donate-blood-design-over-white-background-vector-illustration.jpg" alt="..." /></div>

  </div>
</div>
<div class="align-items-center justify-content-center row mt-2">
<p class="text-white">Copyright 2022. All Rights Reserved@Organ Bank</p>
</div>
</header>
